.dog-container{
    position: relative;
    top: 147px;
}
.dog1-headcontent{
    display: flex;
    justify-content: space-between;
}
.dog1-head{
    width: 220px;
    height: 160px;
    border: 5px solid black;
    background-color: white;
    border-radius: 220px 220px 40px 40px;
    border-bottom: 5px solid white;
    z-index: 3;
}
#dog1-ear1, #dog1-ear2{
    position: relative;
    width: 110px;
    height: 75px;
    top: 25px;
    border: 5px solid black;
    border-radius: 50px;
    background-color: white;
    z-index: 0;
}
#dog1-ear1{
    left: 85px;
    transform: rotate(-35deg);
}
#dog1-ear2{
    right: 85px;
    transform: rotate(35deg);
}
.dog1-face{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 50px;
}
.dog1-eyes,
.dog1-nose{
    width: 15px;
    height: 15px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: black;
}
.dog1-nose{
    width: 25px;
    position: relative;
    top: 25px;
}
#dog1-eye1{
    margin-right: -25px;
}
#dog1-eye2{
    margin-left: -25px;
}
.dog1-mouth-content{
    position: relative;
    top: 63px;
    left: 80px;
}
#dog1-mouth1{
    transform: rotate(140deg);
}
#dog1-mouth2{
    position: relative;
    top: 30px;
    right: 95px;
    transform: rotate(211deg);
}

.dog1-body{
    position: relative;
    top: -75px;
    left: 120px;
    width: 220px;
    height: 170px;
    border-radius: 25px;
    border: 5px solid;
    border-top: white;
    background-color: white;
    z-index: 1;
}

.dog1-arms-content{
    position: relative;
    top: -40px;
    display: flex;
    justify-content: space-between;
}
.dog1-arms{
    width: 80px;
    height: 50px;
    border: 5px solid;
    background-color: white;
    z-index: 4;
}
#dog1-arm1{
    position: relative;
    top: 50px;
    left: 140px;
    border-radius: 0 30px 30px 0;
    border-left:1px solid white;
    transform: rotate(45deg);
}
#dog1-arm2{
    position: relative;
    right: 70px;
    border-radius: 0 30px 30px 0;
    border-left: white;
    transform: rotate(-45deg);
}
.dog1-foot{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 165px;
}
#dog1-foot1,
#dog1-foot2{
    width: 35px;
    height: 35px;
    border: 5px solid;
    background-color: white;
    border-top: white;
    border-radius: 0 0 20px 20px;
}
.dog1-tail{
    position: relative;
    top: 48px;
    right: 76px;
    width: 70px;
    height: 20px;
    border: 5px solid;
    border-right: white;
    background-color: white;
    border-radius: 10px 0 0 25px;
    transform: rotate(12deg);
}