.dog2-headcontent{
    display: flex;
    justify-content: space-between;
}
.dog2-head{
    width: 220px;
    height: 160px;
    border: 5px solid black;
    background-color: burlywood;
    border-radius: 220px 220px 40px 40px;
    border-bottom: 5px solid burlywood;
    z-index: 1;
}
#dog2-ear1, #dog2-ear2{
    position: relative;
    width: 110px;
    height: 75px;
    top: 25px;
    border: 5px solid black;
    border-radius: 50px;
    background-color: burlywood;
    z-index: 0;
}
#dog2-ear1{
    left: 85px;
    transform: rotate(-35deg);
}
#dog2-ear2{
    right: 85px;
    transform: rotate(35deg);
}
.dog2-face{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 50px;
}
.dog2-eyes,
.dog2-nose{
    width: 15px;
    height: 15px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: black;
}
.dog2-nose{
    width: 25px;
    position: relative;
    top: 25px;
}
#dog2-eye1{
    margin-right: -25px;
}
#dog2-eye2{
    margin-left: -25px;
}
.dog2-mouth-content{
    position: relative;
    top: 63px;
    left: 80px;
}
#dog2-mouth1{
     transform: rotate(140deg);
}
#dog2-mouth2{
    position: relative;
    top: 31px;
    right: 95px;
    transform: rotate(211deg);
}

.dog2-body{
    position: relative;
    top: -75px;
    left: 120px;
    width: 220px;
    height: 170px;
    border-radius: 25px;
    border: 5px solid;
    border-top:5px solid red;
    background-color: burlywood;
    z-index: 1;
}

.dog2-arms-content{
    position: relative;
    top: -40px;
    display: flex;
    justify-content: space-between;
}
.dog2-arms{
    width: 80px;
    height: 50px;
    border: 5px solid;
    background-color: burlywood;
    z-index: 2;
}
#dog2-arm1{
    position: relative;
    left: 70px;
    transform: rotate(45deg);
    border-radius: 30px 0 0 30px;
    border-right: burlywood;
}
#dog2-arm2{
    position: relative;
    top: 55px;
    right: 135px;
    border-left: burlywood;
    border-radius: 0 30px 30px 0;
    transform: rotate(130deg);
}
.dog2-foot{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 160px;
}
#dog2-foot1,
#dog2-foot2{
    width: 35px;
    height: 35px;
    border: 5px solid;
    background-color: burlywood;
    border-top: burlywood;
    border-radius: 0 0 20px 20px;
}
.dog2-tail{
    position: relative;
    top: 60px;
    left: 216px;
    width: 70px;
    height: 20px;
    border: 5px solid;
    border-left: white;
    border-radius: 0 10px 25px 0;
    background-color: burlywood;
    transform: rotate(-13deg);
}