.resultpage{
    margin-top: 72px;
    text-align: center;
}
.resultpage h3{
    font-size: 1.25rem;
    color: rgb(161, 116, 116);
}
.resultpage-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resultpage-img{
    margin: 10px;
    width: 300px;
    height: 300px;
    border: 10px solid rgb(161, 116, 116);
    border-radius: 200px;
    overflow: hidden;
}
.resultpage-img img{
    width: 320px;
    height: 300px;
}
.resultpage-explanation{
    padding: 15px;
    border: 5px solid rgb(161, 116, 116);
    border-radius: 50px;
    width: 350px;
    background-color: burlywood;
    color: white;
    font-size: 1.2rem;
}
.resulterrorpage{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 30%;
}
.linktoHome{
    display: flex;
    text-decoration-line: none;
    color: blue;
    justify-content: center;
    margin: 10px;
}
.linktoHome:hover{
    color: rgb(191, 24, 191);
    cursor: pointer;
}