.resultpage{
    margin-top: 72px;
    text-align: center;
}
.resultpage h3{
    margin: 15px;
    font-size: 1.55rem;
}
.resultpage-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resultpage-img{
    margin: 15px;
    width: 300px;
    height: 300px;
    border: 2px solid black;
}
.resultpage-explanation{
    width: 355px;
}