.picket-container{
    display: flex;
    justify-content: center;
    text-align: center;
}
.picket{
    margin: 0 15px 0 15px;
    width: 500px;
    height: 250px;
    border-radius: 20px;
    border: 5px solid #7e2300; 
    background-color: #9c4700;
    color: white;
}
.user-input{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textbox{
    width: 200px;
    margin: 15px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    font-size: 1.05rem;
    border: 5px solid rgb(137, 46, 46)
}
#resultbtn{
    width : 120px;
    height: 45px;
    border-radius: 10px;
    font-size: 1.05rem;
    font-weight: 700;
    text-align: center;
    color: rgb(137, 46, 46);
    border: 5px solid rgb(137, 46, 46);
    background-color: white;
}
#resultbtn:hover{
    transform: scale(1.1);
}
.share_btn{
    margin: 15px;
    background-color: transparent;
    border: none;
}
.share_btn:hover{
    transform: scale(1.2);
}