.picket-container{
    display: flex;
    justify-content: center;
    text-align: center;
}
.picket{
    width: 360px;
    height: 243px;
    border-radius: 20px;
    border: 5px solid #7e2300; 
    background-color: #9c4700;
    color: white;
}
.picket::after{
    position: relative;
    left: 160px;
    content: '';
    display: block;
    width: 40px;
    height: 75px;
    border-top: none;
    background-color: rgb(80, 48, 48);
}
#input{
    margin: 5px;
    width: 165px;
    height: 40px;
    text-align: center;
    border-radius: 20px;
    border: 2px solid;
    font-size: 1.05rem;
    color: rgb(137, 46, 46);
    border: 4px solid rgb(137, 46, 46);
    background-color: white;
}
#result{
    margin: 15px;
    width: 150px;
    height: 32px;
    border: 2px solid;
    border-radius: 20px;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    color: rgb(137, 46, 46);
    border: 4px solid rgb(137, 46, 46);
    background-color: white;
}
#result:hover{
    transform: scale(1.15);
    transition: all 0.75s;
}
.share_btn{
    margin: 10px;
    background-color: transparent;
    border: none;
}
.share_btn:hover{
    transform: scale(1.2);
}