.picket-container{
    display: flex;
    justify-content: center;
    text-align: center;
}
.picket{
    width: 500px;
    height: 250px;
    margin: 0 15px 0 15px;
    border-radius: 20px;
    border: 5px solid rgb(97, 23, 23);
    background-color: #9c4700;
    color: white;
}
.user-input{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textbox{
    width: 200px;
    height: 35px;
    margin-top: 35px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.05rem;
    border: 5px solid rgb(97, 23, 23);
}
.resultbtn{
    width : 210px;
    height: 35px;
    margin-top: 15px;
    border-radius: 10px;
    font-size: 1.05rem;
    font-weight: 700;
    text-align: center;
    color: white;
    background-color: rgb(97, 23, 23);
    border: none;
}
.resultbtn:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.sharebtn-title{
    margin-top: 15px;
}